.nav-panel {
    border-right: 1px solid red;
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 260px;
    height: calc(100vh - 42px);
    a {
        height: 40px;
        background-color: #FFFFFF;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        color: black;


    }
}