.app-layout {
    .app-layout-header {
        height: 80px;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
       
        width: 100%;
    }
    .app-layout-body {
        display: flex;
    }
}