.action-modal{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 35%;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s ease-out;
    z-index: 100;

    &.shown {
        transform: translateY(0);
        opacity: 1;
    }

    &.hidden {
        transform: translateY(-100vh);
        opacity: 0;
    }

    .action-modal-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            flex-direction: column;
            padding: 20px;

            span {
                text-align: start;
            }
        }
    }

    .action-modal-buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
    
        .btn{
            outline: none;
            border: none;
            border-radius: 5px;
            height: 50px;
            margin: 0 auto;
            width: 150px;
            color: #FFFFFF;
            cursor: pointer;
            font-weight: bold;
    
            &.btn-yes {
                background-color: forestgreen;
            }
    
            &.btn-no {
                background-color: #9e9e9e;
            }
    
            &.btn-danger {
                background-color: #DC143C;
            }
        }
    }
}


.edit-modal {
    width: 60%;
    position: fixed;
    top: 30%;
    left: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s ease-out;
    z-index: 100;


    &.shown {
        transform: translateY(0);
        opacity: 1;
    }

    &.hidden {
        transform: translateY(-100vh);
        opacity: 0;
    }

    

    .edit-modal-header {
        display: flex;
        flex-flow: column;
        input {
            outline: none;
            border-radius: 5px;
            height: 35px;
            border: 1px solid black;
        }
    }

    .edit-modal-body {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;

        textarea {
            resize: none;
            height: 120px;
            outline: none;
            border-radius: 5px;
            border: 1px solid black;
        }
    }
    
}
.upload-modal {
    width: 25%;
    position: fixed;
    top: 30%;
    left: 37%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s ease-out;
    z-index: 100;


    &.shown {
        transform: translateY(0);
        opacity: 1;
    }

    &.hidden {
        transform: translateY(-100vh);
        opacity: 0;
    }

    .upload-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    
        p {
            font-size: 22px;
            line-height: 1.5;
            font-family: bold;
        }
    }
}




