.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.disabled {
  opacity: 0.4;
}

.back-drop{
  width: 100%;
  height: 100%;
  background-color: #443d3da8;
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
}

